body{
    align-self: auto;
}
h1 {
    color: gold;
    text-align: center;
    font-size: x-large;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    
}
.center-2 {
    height: 20%;
    width: 10%;
}
#a {
    text-align: left;
}
p.pdt {
    font-size: large;
    text-align: center;
    color: red;

}
p#k {
    text-align: center;
}
/*
#img {
    position: relative;
}
*/
#j{
    text-align: right;
}
