
body {
    background-color: cadetblue;
}
h1 {
    color: gold;
    text-align: center;
    font-size: x-large;
}
#a {
    text-align: center;
}
p {
    font-size: large;
    text-align: center;

}
#k {
    text-align: center;
}